#root {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-transform: uppercase;
}

/* #titlebar {
  -webkit-app-region: drag;
  position: fixed;
  height: 20px;
  width: 100%;
  /* margin-bottom: 150px;
  background-color: #4E4E4E; /*#795038;
}
#title {
  position: fixed;
  top: 0px;
  left: 6px; 
  font-size: 15px;
  text-transform: none;
} */

#footer {
  position: fixed;
  bottom: 0;
  width: 99%;
}

/**Container to hide native radio/checkbox**/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 25px;
  -webkit-user-select: none;
  user-select: none;
  cursor: url(mfd_cursor.png), crosshair;
}
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  background-color: #808080;
}
.container input[type="checkbox"]:disabled ~ .checkmark {
  border: 2px solid #3cb7d9;
  background-color: transparent;
}

.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  background-color: #808080;
}
.container input[type="radio"]:disabled ~ .radio {
  border: 2px solid #3cb7d9;
  background-color: transparent;
}

/**Customized Checkbox**/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 5px;
  background-color: #808080;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #01cc00;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container .checkmark:hover {
  border: 2px solid white; /*#d51cd9;*/
}

/**Customized Radio Button**/
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #808080;
  transform: rotate(45deg);
}

.radio:after {
  content: "";
  position: absolute;
  background-color: #808080;
  display: none;
}

.container input:checked ~ .radio:after {
  display: block;
}

.container .radio:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 1%;
  background: #01cc00;
}

.container .radio:hover {
  border: 2px solid white; /*#d51cd9;*/
}

/**Custom Scrollbar**/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #808080;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}

::-webkit-scrollbar-button:single-button {
  background-color: #808080;
  display: block;
  border-style: solid;
  height: 16px;
  width: 16px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 10px;
  border-color: transparent transparent black transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 10px;
  border-color: black transparent transparent transparent;
}

/**text inputs and mouse events**/
input {
  border: 2px solid transparent;
  background-color: #808080;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  height: 25px;
  -webkit-app-region: no-drag;
  cursor: url(mfd_cursor.png), crosshair;
}
input:disabled {
  border: 2px solid #3cb7d9;
  background-color: transparent;
}
input:hover {
  border: 2px solid white; /*#d51cd9;*/
}
input[type="text"]:focus {
  border: 2px solid #01cc01;
}

textarea {
  border: 2px solid transparent;
  background-color: #808080;
  color: white;
  resize: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: url(mfd_cursor.png), crosshair;
}
textarea:hover {
  border: 2px solid white; /*#d51cd9;*/
}
textarea:focus {
  border: 2px solid #01cc01;  
}
textarea:disabled {
  border: 2px solid #3cb7d9;
  background-color: transparent;
}

/**Button styles**/
button {
  background-color: #808080;
  border: 2px solid transparent;
  outline: none;
  color: white;
  padding: 15px 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: url(mfd_cursor.png), crosshair;
}

button:hover {
  border: 2px solid white; /*#d51cd9;*/
  -webkit-app-region: no-drag;
}

.Button-green {
  border: 2px solid transparent;
  background-color: #01cc00;
  -webkit-app-region: no-drag;
  height: 50px;
}

.Button-gray {
  border: 2px solid transparent;
  background-color: #808080;
  -webkit-app-region: no-drag;
  height: 50px;
}
.Button-gray:hover {
  border: 2px solid white; /*#d51cd9;*/
  -webkit-app-region: no-drag;
}

.Button-cyan {
  border: 2px solid #3cb7d9;
  color: #3cb7d9;
  height: 50px;
}

.Status-label {
  border: 2px solid white;
  margin-top: 3px;
  height: 50px;
}

/**List styling**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-right: 50px;
}
ul li:first-child {
  border-top: 3px solid white;
}
ul li {
  height: 65px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  font-size: 25px;
}
